.edit-slave-container{
    width: 30%;
    margin: 2em auto;
    padding: 0.7em 1.2em;
    border-radius: 15px;
}
.edit-slave-container input{
    width: 100%;
    font-weight: bold;
    font-size: 1.1em;
}

.edit-slave-container textarea{
    resize: none;
    width: 100%;
    font-size: 1.1em;
}

.edit-slave-container button{
    background-color: #36AE7C;
    width: 30%;
    font-size: 1.2em;
    font-weight: bold;
    color:#fff;
    cursor: pointer;
    border-radius: 15px;
}

.slave-controllers button{
    display: block;
    width: 4em;
    cursor: pointer;
    margin: 0.2em 0;
    padding: 0.2em 0.5em;
    border-radius: 8px;    
    color: #ffffff;
    font-weight: bold;
    font-size: 0.9em;
}

.slave-controllers button:first-child{
    background-color: #F32424;
}

.slave-controllers button:last-child{
    background-color: #5463FF;
}